.container {
    /*height sets the background color to fill page
    background-repeat: no-repeat; unsure what this does
    background-position: center; unsure
    background-size: cover; unsure
    */
    background-color: black;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /*puts child divs (connect wallet button) into the
    middle of the page*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect-wallet {
    /*
    sets border colr and makes it slightly rounded
    */
    color: white;
    border: 5px solid;
    border-radius: 2px;
    padding: 3px 8px;
    transition: all 0.3s ease-in-out;
}

.connect-wallet:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

a { /* removes the blue underline from connect wallet button */
    text-decoration: none;
}


*{ /*margin removes the scroll bar from the page*/
    /*padding unsure what it reomves*/
    margin: 0px; 
    padding: 0px;
}